body {

    background: url(https://fotografias.larazon.es/clipping/cmsimages01/2021/05/21/5CC93B0A-3A12-47AF-895E-D35176522F8E/98.jpg?crop=3500,1969,x0,y181&width=1900&height=1069&optimize=low&format=webply) no-repeat center center fixed #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    margin: auto;
    color: gold;
    font-weight: bolder;
    font-size: 100px;
    text-align: center;
    width: 100%;
    text-shadow: -2px -2px 0px black,
    4px 4px 0px black,
    7px 7px 0px black;
}

header h2 {
    margin: auto;
    text-align: center;
    color: white;
    font-weight: bolder;
    border-top: 3px outset black;
    width: 50%;
    text-shadow: -2px -2px 0px black
}

#paella img, #seafood img, #lobster img {
    border: 1px outset black;
    border-radius: 20px;
    width: 20%;
    height: auto;
}

ul li {
    list-style: none;
    text-align: center;
    margin-bottom: 0.6%;
}

a {
    color: gold;
    font-size: 2em;
    font-weight: bolder;
    text-shadow: -2px -2px 0px black;
    text-decoration: none;
}